In [60]:
import pandas as pd
import requests
import time

In [61]:
def get_futures_historical_data(symbol, interval, startTime, endTime):
    """
    This function retrieves historical data for a specific symbol and interval from the Binance API.
    
    Parameters:
    - symbol (str):    The symbol for the asset, e.g. "BTCUSDT" for Bitcoin/Tether.
    - interval (str):  The interval for the data, e.g. "1d" for daily data.
    - startTime (str): The start time for the data, in a readable format such as "2022-01-01 00:00:00".
    - endTime (str):   The end time for the data, in a readable format such as "2022-12-31 23:59:59".
    
    Returns:
    - pandas.DataFrame: A dataframe containing the historical data, with columns for open time, open price, 
        high price, low price, close price, volume, close time, quote asset volume, number of trades, 
        taker buy base asset volume, taker buy quote asset volume, and an ignored value.
    """
    
    # Convert startTime and endTime from strings in a readable format to Unix timestamps
    # The time.mktime method converts a time tuple to a timestamp
    # The time.strptime method converts a string to a time tuple
    # The * 1000 factor is used to convert the timestamp to milliseconds, as required by the Binance API
    startTime = int(time.mktime(time.strptime(startTime + " UTC", "%Y-%m-%d %H:%M:%S %Z")) * 1000)
    endTime   = int(time.mktime(time.strptime(endTime   + " UTC", "%Y-%m-%d %H:%M:%S %Z")) * 1000)

    # Create a URL for the Binance API endpoint /klines by filling in the symbol, interval, startTime, and endTime parameters
    url = f"https://fapi.binance.com/fapi/v1/klines?symbol={symbol}&interval={interval}&startTime={startTime}&endTime={endTime}"
    
    # Make a GET request to the URL using the requests.get method
    response = requests.get(url)
    
    # Extract the JSON data from the response using the response.json method
    data = response.json()
    
    # Convert the data into a pandas dataframe using the pd.DataFrame method, with the columns specified in the columns argument
    df = pd.DataFrame(data, columns=["Open time", "Open", "High", "Low", "Close", "Volume", "Close time", "Quote asset volume", "Number of trades", "Taker buy base asset volume", "Taker buy quote asset volume", "Ignore"])
    
    # Convert all columns in the dataframe to numeric data type using the df.apply method and pd.to_numeric as the function to apply
    df = df.apply(pd.to_numeric, errors='coerce')
    
    # Return the converted dataframe
    return df

In [62]:
symbol    = "BTCUSDT"
interval  = "1h"
startTime = "2021-01-01 00:00:00"
endTime   = "2021-12-31 23:59:59"

df = get_futures_historical_data(symbol, interval, startTime, endTime)

In [63]:
df

,Open time,Open,High,Low,Close,Volume,Close time,Quote asset volume,Number of trades,Taker buy base asset volume,Taker buy quote asset volume,Ignore
0,1609455600000,29123.18,29133.36,28800.00,28951.68,6908.520,1609459199999,2.001777e+08,57251,3151.956,9.135192e+07,0
1,1609459200000,28948.19,29055.00,28706.00,29015.00,8037.588,1609462799999,2.321646e+08,65942,3983.842,1.151312e+08,0
2,1609462800000,29015.00,29546.42,28975.46,29448.40,19543.401,1609466399999,5.736394e+08,127126,10386.352,3.048663e+08,0
3,1609466400000,29443.65,29500.00,29159.16,29237.06,10049.720,1609469999999,2.946641e+08,69148,4513.355,1.323593e+08,0
4,1609470000000,29236.58,29379.41,29174.95,29302.11,5579.452,1609473599999,1.633982e+08,47082,2969.050,8.697145e+07,0
...,...,...,...,...,...,...,...,...,...,...,...,...
495,1611237600000,32328.99,32477.27,31032.66,31230.99,47063.837,1611241199999,1.490165e+09,363587,23408.618,7.414711e+08,0
496,1611241200000,31224.30,32095.05,31100.00,31422.10,34269.606,1611244799999,1.082692e+09,281175,16621.025,5.253232e+08,0
497,1611244800000,31426.01,32262.14,31072.15,31122.50,33892.244,1611248399999,1.075330e+09,297236,16736.591,5.313277e+08,0
498,1611248400000,31122.84,32080.00,31058.00,31959.98,25018.911,1611251999999,7.911770e+08,209939,12990.748,4.108722e+08,0
499,1611252000000,31959.98,32146.51,31488.17,31785.64,17052.806,1611255599999,5.421395e+08,152712,8685.916,2.762080e+08,0

In [64]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 12 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Open time                     500 non-null    int64
 1   Open                          500 non-null    float64
 2   High                          500 non-null    float64
 3   Low                           500 non-null    float64
 4   Close                         500 non-null    float64
 5   Volume                        500 non-null    float64
 6   Close time                    500 non-null    int64
 7   Quote asset volume            500 non-null    float64
 8   Number of trades              500 non-null    int64
 9   Taker buy base asset volume   500 non-null    float64
 10  Taker buy quote asset volume  500 non-null    float64
 11  Ignore                        500 non-null    int64
dtypes: float64(8), int64(4)
memory usage: 47.0 KB